
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,ul, li {
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(../assets/fondo.index.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    width: 8vw;
    border: 1px solid black;
    border-radius: 20px;
}

header{
    background-color: #ffe4c4a9;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.items{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.items li a{
    color: black;
}
.items li a:hover{
    font-size:22px ;
    transition: 0.5s;
}

.contenedor-item-list{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 30px;
    color: rgb(46, 28, 6);
}
